* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "iosevka nerd font";
    font-weight: 500;
    font-size: 12px;
    padding: 0;
}

window#waybar {
    background: #000000;
    border: 0px solid #000000;
}

#clock,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 2px;
    background-color: #000000;
    border: 0px solid #000000;
    color: #ffffff;
}

